body {
    margin: 0;
    padding: 0;
    background: #f8b6c8; /* pink soft sesuai desain */
    font-family: Arial, sans-serif;
}

.login-container {
    width: 100%;
    max-width: 380px;
    margin: 40px auto;
    text-align: center;
}

/* Logo */
.logo {
    width: 110px;
    margin-top: 50px;
}

/* Brand Name */
.brand-title {
    font-size: 32px;
    font-weight: bold;
    color: #992c52;
    margin-top: 15px;
    margin-bottom: 40px;
}

/* Box */
.login-box {
    width: 100%;
    margin-top: 10px;
}

/* Input Group */
.input-group {
    display: flex;
    align-items: center;
    background: #ffe6ef;
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
}

.icon {
    padding: 14px;
    font-size: 18px;
}

.icon.green {
    background: #27ae60;
    color: white;
}

.icon.yellow {
    background: #f1c40f;
    color: white;
}

.input-group input {
    flex: 1;
    padding: 13px;
    border: none;
    font-size: 15px;
    background: transparent;
    outline: none;
}

/* Buttons row */
.btn-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Forgot Password Button */
.btn-forgot {
    padding: 12px 18px;
    background: #004fbd;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
}

/* Login Button */
.btn-login {
    padding: 12px 28px;
    background: #27ae60;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
